#blogBody .navbar {
    width: 100vw;
    background-color: white !important;
    top: 0;
    -webkit-box-shadow: 0 5px 9px -9px #999;
    -moz-box-shadow: 0 5px 9px -9px #999;
    box-shadow: 0 5px 9px -9px #999;
    z-index: 999;
}

#blogBody .navbar,
.navbar__right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

#blogBody .navbar h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: #1A1A1A !important;
    cursor: pointer;
}

#blogBody .navbar .navbar__right,
.navbar__links,
button {
    background-color: white !important;
    border: 1.5px solid grey !important;
    width: 120px !important;
    height: 35px !important;
    font-size: 14px !important;
    font-family: sans-serif;
    border-radius: 5px !important;
    color: grey;
    outline: none !important;
}

#blogBody .navbar .navbar__right,
.navbar__links,
button:hover {
    color: black;
    border: 1.5px solid black !important;
}

.modal-dialog {
    max-width: 85vw;
    max-height: 3vh;
}

.modal .modal-header,
.modal-footer {
  border: none;
}

.modal-body p {
    font-size: 12px;
}

.modal-header {
    background-color: white;
    border: none;
    outline: none;
}

.modal-header h1 {
    font-size: 20px;
    font-weight: normal;
    font-family: "Sora" sans-serif;
    text-align: center !important;
}

.modal-header i {
    font-size: 25px !important;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.modal-header p {
    font-size: 14px;
    font-weight: 200;
    font-family: sans-serif;
}

.modal-footer {
    background: transparent;
    border: none !important;
}